extends ../layout.pug


block content
    
    
        include ../mixins/basic-form.pug
        

        .ui.container
                +createForm('temperture', 'home', 'GET', 'F', 'C')
                