.ui.large.top.fixed.hidden.menu
  .ui.container
 
      include ../mixins/nav-items.pug
      
      .right.menu
          .item
              a.ui.button Log in
          .item
              a.ui.primary.button Sign Up

// Sidebar Menu
.ui.vertical.inverted.sidebar.menu
    a.active.item Home
    include ../mixins/nav-items.pug
   


    