extends ./layout.pug

block content
    
    .pusher
        .ui.inverted.vertical.masthead.center.aligned.segment
            .ui.container
                .ui.large.secondary.inverted.pointing.menu
                    a.toc.item
                        i.sidebar.icon
                    include ./mixins/nav-items.pug
                    .right.item
                        a.ui.inverted.button Log in
                        a.ui.inverted.button Sign Up
            .ui.text.container
                h1.ui.inverted.header
                    | Metric to Imperial Converter
                
                
        .ui.vertical.stripe.segment
            .ui.text.container
                h3.ui.header.center.aligned Pick a conversion

            .ui.middle.aligned.stackable.grid.container
                .row
                    .eight.wide.column
                        include ./mixins/basic-card.pug
                        
                    .six.wide.right.floated.column
                        img.ui.large.bordered.rounded.image(src='assets/images/wireframe/white-image.png')
            
        
        .ui.vertical.stripe.segment
            .ui.text.container
                h3.ui.header Conversions
                include ./mixins/basic-table.pug